body {
  background: #060e1b;
  overflow: hidden;
}

/* glitch-bg */
.glitch-bg {
  /*background-image: url("../img/glitch-bg.png");*/
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: auto;
}

/* starry */
.starry-wrapper {
  z-index: 0;
}

/* digital-clock */
.digital-clock-wrapper {
  position: absolute;
  bottom: 40px;
  left: 60px;
  z-index: 1;
}

.digital-clock-wrapper .title {
  margin-bottom: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* nav */
.nav-wrapper {
  position: absolute;
  top: 40px;
  right: 50px;
  left: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.nav-wrapper a {
  color: #999999;
  text-decoration: none;
}

.nav-wrapper a.active {
  color: #ffffff;
}

.nav-wrapper .left img {
  width: 40px;
}

.nav-wrapper .left a {
  margin-right: 10px;
}

.nav-wrapper .right a {
  margin-left: 30px;
  font-weight: bold;
  font-size: 20px;
}

.nav-wrapper .right a .tag {
  visibility: hidden;
}

.nav-wrapper .right a.active .tag {
  visibility: visible;
}

/* content */
.content-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 100px 50px 100px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.content-wrapper .glitch-text-wrapper .signature1 {
  height: 300px;
}

.content-wrapper .glitch-text-wrapper .signature2 {
  margin-top: 100px;
  margin-left: 40px;
}


.content-wrapper .glitch-text-wrapper {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.content-wrapper .gandum-wrapper {
  position: relative;
  height: 100%;
  z-index: 3;
}

.content-wrapper .gandum-wrapper .gandum{
  height: 100%;
}

.content-wrapper .gandum-wrapper .gandum-lightning1 {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 30%;
}

.content-wrapper .gandum-wrapper .gandum-lightning2 {
  visibility: hidden;
  position: absolute;
  bottom: 90px;
  left: 80px;
}

.content-wrapper .gandum-wrapper .gandum-lightning3 {
  visibility: hidden;
  position: absolute;
  bottom: 40px;
  left: -15px;
}

.lightning-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* lightning */
.lightning-wrapper .lightning1 {
  visibility: hidden;
}

.lightning-wrapper .lightning2 {
  visibility: hidden;
}

.lightning-wrapper .lightning3 {
  visibility: hidden;
}
